@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131314;
  color: #e3e3e3;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1f20; 
}
::-webkit-scrollbar-thumb {
  background: #444746; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e; 
}